.page-transition-enter {
	opacity: 0;
	transform: translate3d(0, 20px, 0);
}

.page-transition-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: opacity 400ms, transform 400ms;
}

.page-transition-exit {
	opacity: 1;
}

.page-transition-exit-active {
	opacity: 0;
	transition: opacity 400ms;
}

.loading-indicator-appear,
.loading-indicator-enter {
	opacity: 0;
}

.loading-indicator-appear-active,
.loading-indicator-enter-active {
	opacity: 1;
	transition: opacity 400ms;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border: .0625rem solid rgba(0, 0, 0, .05);
	border-radius: .25rem;
	background-color: #fff;
	background-clip: border-box;
}

.card>hr {
	margin-right: 0;
	margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}

.card>.list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.card-body {
	padding: 1.5rem;
	flex: 1 1 auto;
}

.card-title {
	margin-bottom: 1.25rem;
}

.card-subtitle {
	margin-top: -.625rem;
	margin-bottom: 0;
}

.card-text:last-child {
	margin-bottom: 0;
}

.card-link:hover {
	text-decoration: none;
}

.card-link+.card-link {
	margin-left: 1.5rem;
}

.card-header {
	margin-bottom: 0;
	padding: 1.25rem 1.5rem;
	border-bottom: .0625rem solid rgba(0, 0, 0, .05);
	background-color: #f6f9fc;
}

.card-header:first-child {
	border-radius: calc(.25rem - .0625rem) calc(.25rem - .0625rem) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
	border-top: 0;
}

.card-footer {
	padding: 1.25rem 1.5rem;
	border-top: .0625rem solid rgba(0, 0, 0, .05);
	background-color: #f6f9fc;
}

.card-footer:last-child {
	border-radius: 0 0 calc(.25rem - .0625rem) calc(.25rem - .0625rem);
}

.card-header-tabs {
	margin-right: -.75rem;
	margin-bottom: -1.25rem;
	margin-left: -.75rem;
	border-bottom: 0;
}

.card-header-pills {
	margin-right: -.75rem;
	margin-left: -.75rem;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
}

.card-img {
	width: 100%;
	border-radius: calc(.25rem - .0625rem);
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(.25rem - .0625rem);
	border-top-right-radius: calc(.25rem - .0625rem);
}

.card-img-bottom {
	width: 100%;
	border-bottom-right-radius: calc(.25rem - .0625rem);
	border-bottom-left-radius: calc(.25rem - .0625rem);
}

.card-deck {
	display: flex;
	flex-direction: column;
}

.card-deck .card {
	margin-bottom: 15px;
}

@media (min-width: 576px) {
	.card-deck {
		margin-right: -15px;
		margin-left: -15px;
		flex-flow: row wrap;
	}
	.card-deck .card {
		display: flex;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px;
		flex: 1 0;
	}
}

.card-group {
	display: flex;
	flex-direction: column;
}

.card-group>.card {
	margin-bottom: 15px;
}

@media (min-width: 576px) {
	.card-group {
		flex-flow: row wrap;
	}
	.card-group>.card {
		margin-bottom: 0;
		flex: 1 0;
	}
	.card-group>.card+.card {
		margin-left: 0;
		border-left: 0;
	}
	.card-group>.card:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.card-group>.card:first-child .card-img-top,
	.card-group>.card:first-child .card-header {
		border-top-right-radius: 0;
	}
	.card-group>.card:first-child .card-img-bottom,
	.card-group>.card:first-child .card-footer {
		border-bottom-right-radius: 0;
	}
	.card-group>.card:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.card-group>.card:last-child .card-img-top,
	.card-group>.card:last-child .card-header {
		border-top-left-radius: 0;
	}
	.card-group>.card:last-child .card-img-bottom,
	.card-group>.card:last-child .card-footer {
		border-bottom-left-radius: 0;
	}
	.card-group>.card:only-child {
		border-radius: .25rem;
	}
	.card-group>.card:only-child .card-img-top,
	.card-group>.card:only-child .card-header {
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem;
	}
	.card-group>.card:only-child .card-img-bottom,
	.card-group>.card:only-child .card-footer {
		border-bottom-right-radius: .25rem;
		border-bottom-left-radius: .25rem;
	}
	.card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
		border-radius: 0;
	}
	.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
	.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
	.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
	.card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
		border-radius: 0;
	}
}

.card-columns .card {
	margin-bottom: 1.25rem;
}

@media (min-width: 576px) {
	.card-columns {
		column-count: 3;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1;
	}
	.card-columns .card {
		display: inline-block;
		width: 100%;
	}
}

.shadow {
	box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15)!important;
}

.btn-icon {
	padding: 10px;
}

.btn-icon:not(:last-child) {
	margin-right: 0.5em;
}

.btn-icon .btn-inner--icon img {
	width: 17px;
}

.btn-inner--text {
	margin-left: 0.75em;
}

.custom-file-input:hover {
	cursor: pointer;
}
